@use "../../scss/variables" as *;

.home__footer {
    height: 134px;
    background: $blue;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    align-content: center;

    padding-left: 44px;

    p {
        width: 66.21vw;
        padding-left: 4.52vw;
        font-family: $font-family-app;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
    }
}