@use "../../scss/variables" as *;

.pay {

    &__p {
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: $font-family-app;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: rgba(0, 0, 0, 0.4);
    }
}